.datePanel {
		  width: 250px;
		  height: 232px;
		  border: 1px solid grey;
		  position: position;
		  padding: 5px;
		}
		input {
		  width: 60px;
		  height: 16px;
		  font-size: 15px;
		  text-align: center;
		  border-top:none;
		  border-bottom:none;
		  border-left: 1px solid grey;
		  border-right: 1px solid grey;
		  cursor: pointer;
		}
		.year ,.month{
		  width: 120px;
		  height: 20px;
		  border: 1px solid grey;
		  float:left;
		}
		.month {
		  margin-left: 5px;
		}
		cite {
		  width: 0;
		  height: 0px;	  
		  border-top: solid transparent 8px;
		  border-bottom: 8px solid transparent;
		  margin: 2px 5px;
		  cursor:pointer;
		}
		.left{
			float: left;
			border-right: solid rgb(151, 148, 148) 16px;
		}
		.right{
			float: right;
			border-left: solid rgb(151, 148, 148) 16px;
		}
		.days {
		  float: left;
		  width: 247px;
		  height: 160px;
		  border: 1px solid grey;
		  margin-top: 5px;
		}
		.btns {
		  border: 1px solid grey;
		  width: 247px;
		  height: 35px;
		  float: left;
		  margin-top: 5px;
		}
		.btns input {
		  border:none;
		  float: right;
		  margin-top: 5px;
		  width: 50px;
		  padding: 3px;
		  height: 25px;
		}
		.btns input:hover{
			background-color:grey;
		}
		.btn_alone{
			margin-right:5px;
		}
		.btn_alone , btn_confirm{
		  background-color: lightgrey;
		}
		.btn_today{background-color: rgb(185, 185, 185);}
		.days table {
		  width: 100%;
		  text-align: center;
		  font-family: microsoft yahei;
	      font-size: 13px;
		}
		.days td:hover {
		  background-color: rgb(178, 178, 178);
		}
		.clicked{
			background-color: rgb(178, 178, 178);
		}
